<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>employee list</title>
    <link rel="stylesheet" th:href="@{/static/css/index_work.css}">
</head>
<body>
<form method="post" th:action="@{/employee}">
    <input name="_method" type="hidden" value="put"/>
    <input name="id" th:value="${employee.id}" type="hidden"/>
    <table>
        <tr>
            <th colspan="2">add employee</th>
        </tr>
        <tr>
            <td>lastName</td>
            <td>
                <input name="lastName" th:value="${employee.lastName}" type="text">
            </td>
        </tr>
        <tr>
            <td>email</td>
            <td>
                <input name="email" th:value="${employee.email}" type="text">
            </td>
        </tr>
        <tr>
            <td>gender</td>
            <td>
                <input name="gender" th:field="${employee.gender}" type="radio" value="1">male
                <input name="gender" th:field="${employee.gender}" type="radio" value="0">female
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="update">
            </td>
        </tr>
    </table>
</form>
</body>
</html>