<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<h1>index.html</h1>
<a th:href="@{/user}">查询所有的用户信息</a> <br>
<a th:href="@{/user/1}">查询id为1的用户信息</a> <br>
<form method="post" th:action="@{/user}">
    <input type="submit" value="添加用户信息">
</form>
<form method="post" th:action="@{/user}">
    <input name="_method" type="hidden" value="put">
    <input type="submit" value="修改用户信息">
</form>
<form method="post" th:action="@{/user/1}">
    <input name="_method" type="hidden" value="delete">
    <input type="submit" value="删除用户信息">
</form>
</body>
</html>